
 <%= image_tag asset_path('4MONSTERSlogo.png') %>
<h3>Choose your player...</h3>
  <div class="monsters">
    <div class="card redcard">
      <a href="redmonster.html" class="red">The Red Monster</a>
    </div>
    <div class="card bluecard">
      <a href="bluemonster.html" class="blue">The Blue Monster</a>
    </div>
    <div class="card greencard">
      <a href="greenmonster.html" class="green">The Green Monster</a>
    </div>
    <div class="card purplecard">
      <a href="purplemonster.html" class="purple">The Purple Monster</a>
    </div>
  </div>
<h3 class="banner">This game is still in development, sign up <a href="subscribers/new.html" class="signup">here</a> to receive the latest updates!</h3>
