<p id="notice"><%= notice %></p>

<h3>
  <strong>Welcome</strong>
  <%= @subscriber.email %>
  !
</h3>


<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%# <%= link_to 'Back', subscribers_path %>
<a href="/" class="button">Home</a>

<div>
  <h1>Thank you for subscribing and stay tuned!</h1>
</div>
