// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: sans-serif;
  background-color: black;
  text-align: center;
}

.monsters {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  margin-top: 80px;

}

h1 {
  color: white;
}

h3 {
  margin-top: 32px;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: left;
}

.signup {
  color: white;
  text-decoration: underline;
  border: none;
}

.banner {
  padding-top: 56px;
  text-align: center;
}

a {
  border: 2px solid white;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 12px;
}

a:hover {
   text-decoration: underline;
}

.red:hover {
  color: rgb(193, 7, 7);
  border: 2px solid rgb(193, 7, 7);
  text-decoration-color: rgb(193, 7, 7);

}

.blue:hover {
  color: rgb(62, 28, 255);
  border: 2px solid rgb(62, 28, 255);
  text-decoration-color: rgb(62, 28, 255);

}

.green:hover {
  color: rgb(20, 233, 126);
  border: 2px solid rgb(20, 233, 126);
  text-decoration-color: rgb(20, 233, 126);

}

.purple:hover {
  color: rgb(168, 60, 239);
  border: 2px solid rgb(168, 60, 239);
  text-decoration-color: rgb(168, 60, 239);

}

.logo {
  width: 300px;
}

.form {
  text-align: center;
  border: 2px solid;
  width: auto;
  margin-left: 240px;
  margin-right: 240px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  margin-bottom: 16px;
}
